<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div id="payment-status" class="mt-20 text-center text-secondary border-placeholder">
      <!--Add details about the payment here! - see custom.js script--> 
  
    </div>
    <div id="payment-details" class="mt-20 text-center text-secondary border-placeholder word-wrap: break-word;">
    </div>
    <div id="objectDetails">
    </div>
  </div>
</main>